PORT=7000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/lightning_wallet
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=7d
LIGHTNING_API_BASE_URL=http://localhost:5003/api
PAYMENT_SYNC_INTERVAL_MS=10000
CORS_ORIGIN=http://localhost:3000

